<div class="confirm-delete-container">
  <h6>
    Are you sure you want to delete {{ currentHero.heroName | titlecase }}
  </h6>

  <div class="button-container">
    <button
      class="button button--delete"
      mat-raised-button
      matTooltip="Delete hero"
      matTooltipPosition="below"
      (click)="deleteHero(false)"
    >
      Cancel
    </button>

    <button
      class="button button--confirm"
      mat-raised-button
      matTooltip="Delete hero"
      matTooltipPosition="below"
      (click)="deleteHero(true)"
    >
      Confirm
    </button>
  </div>
</div>
