.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: transparent !important;
}
.mdc-text-field--filled {
  border-radius: 8px !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

.mat-mdc-card-content {
  padding: 0px !important;
}
