.button {
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 12px 16px;
  text-align: center;
  height: 56px;

  &--option {
    background-color: transparent;
  }

  &--confirm {
    background-color: lightblue;

    &--half-size {
      width: 50%;
    }
  }

  &--delete {
    background-color: lightcoral;
  }

  &--cancel {
    background-color: transparent;
  }
}

.hovered-cancel-button:hover {
  background-color: #f5f5f5;
}

.error-snackbar {
  background-color: lightcoral;
}

.success-snackbar {
  background-color: rgb(1, 117, 1);
}
